@import "../variables";

.app-body {
  display: grid;
  grid-template-columns:  [start] 220px [content-start] auto [end];
  grid-template-rows:  [top] $space-xl [content-top] auto [bottom];
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: $background-color-light;
}

.app-header{
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: top;
  grid-row-end: content-top;
  line-height: $space-xl;
  border: 1px solid $border-color;

  display: flex;
  flex-direction: row;
  & > .app-header-toggle {
    width: $space-xl;
    flex: 0 0;
    padding: 0 $space-m;
  }
  & > .app-header-title {
    flex: 1 0;
    text-align: center;
    padding: 0 $space-m;
    color: $pri-accent;
    font-size: 2rem;
    font-style: italic;
  }
  & > .app-header-menu {
    flex: 0 0;
    white-space: nowrap;
    padding: 0 $space-m;
  }
}

.app-menu {
  grid-column-start: start;
  grid-column-end: content-start;
  grid-row-start: content-top;
  grid-row-end: bottom;
  padding-top: $space-l;

  & > ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }
}

.app-menu-item {
  display: block;
  padding: .5rem 1rem;
  margin: .25rem 0;
  border-left: 4px solid transparent;
  text-decoration: none;
  color: $sec-accent-blue;

  &.selected{
    color: $pri-accent;
    font-weight: bold;
    border-left: 4px solid $pri-accent;
    border-top-right-radius: $rounded-corners-radius;
    border-bottom-right-radius: $rounded-corners-radius;
  }

  &:hover,
  &:active,
  &:focus {
    color: $pri-accent;
    border-left: 4px solid $sec-accent-blue;
    background-color: white;
    text-decoration: none;
  }
}

.app-content {
  grid-column-start: content-start;
  grid-column-end: end;
  grid-row-start: content-top;
  grid-row-end: bottom;
  padding: 0.25rem;
}

.app-section {
  margin: 1rem;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 1rem;
}
