

// pri blue: https://mdigi.tools/color-shades/#024b7e
$p-blue-0: #dbf0fe;
$p-blue-1: #93d2fd;
$p-blue-2: #4cb4fc;
$p-blue-3: #0495fb;
$p-blue-4: #036bb3;
$p-blue-5: #02406c;
$p-blue-6: #011524;

// sec blue:
$s-blue-0: #e6eef4;
$s-blue-1: #b4ccdd;
$s-blue-2: #82aac6;
$s-blue-3: #5088af;
$s-blue-4: #39617d;
$s-blue-5: #223a4b;
$s-blue-6: #0b1319;

// pink: https://mdigi.tools/color-shades/#be2553
$s-pink-0: #f9e0e8;
$s-pink-1: #eda4ba;
$s-pink-2: #e1678b;
$s-pink-3: #d52a5d;
$s-pink-4: #981e43;
$s-pink-5: #5b1228;
$s-pink-6: #1e060d;

// green: https://mdigi.tools/color-shades/#4f9359
$s-green-0: #e7f2e9;
$s-green-1: #b8d9bd;
$s-green-2: #89bf91;
$s-green-3: #59a664;
$s-green-4: #407648;
$s-green-5: #26472b;
$s-green-6: #0d180e;

// grey: https://mdigi.tools/color-shades/#57636f - 10
$grey-0: #f1f2f4;
$grey-1: #d4d9dd;
$grey-2: #b8bfc7;
$grey-3: #9ba6b1;
$grey-4: #7e8c9a;
$grey-5: #657381;
$grey-6: #4e5964;
$grey-7: #384048;
$grey-8: #22262b;
$grey-9: #0b0d0e;

// quick aliases
$white: #FFF;
$black: $grey-8;
$pri-accent: $p-blue-5;
$sec-accent-pink: $s-pink-3;
$sec-accent-green: $s-green-3;
$sec-accent-blue: $s-blue-3;
$blue-gradient-start: $s-blue-5;
$blue-gradient: linear-gradient(180deg, $blue-gradient-start 0%, $s-blue-4 100%);
$blue-gradient-dark-start: $s-blue-5;
$blue-gradient-dark: linear-gradient(180deg, $blue-gradient-dark-start 0%, $s-blue-4 100%);

// default colors
$text-color-default: $black;
$text-color-inverse: $white;
$background-color-white: $white;
$background-color-light: $grey-0;
$border-color: $grey-1;
$border-standard: 1px solid $grey-1;

// fonts
$font-family: 'Raleway', 'Open Sans', sans-serif;
$font-size-base: 16px;

$font-size-smallest: 0.85rem;
$font-size-small: 0.952rem;
$font-size-normal: 1rem;
$font-size-larger: 1.2rem;

$line-height-base: 1.5rem;

// media dimensions
$breakpoint-large-desktop: 1280px;

// spacing
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

// corners
$rounded-corners-radius: 0.5rem;

// misc
$shadow-main: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
              rgba(0, 0, 0, 0.1) 0px 2px 6px 2px;
$shadow-main-hover: 0 14px 28px rgba(0,0,0,0.25),
                    0 10px 10px rgba(0,0,0,0.22);

// $shadow-nav-button: 1px 0px 2px 0px rgba(60, 64, 67, 0.3);
$shadow-push: 0 1px 3px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.2);

$shadow-smallest: 1px 0px 2px 0px rgba(60, 64, 67, 0.3);

$button-transitions: all 0.3s cubic-bezier(.25,.8,.25,1);
