@import "./variables";
@import "./layout/base";
@import "./components/button";

.lob-main {
  display: grid;
  grid-template-columns: [start] auto [end];
  grid-template-rows: [top] 70px [top-content] auto [bottom];
  height: 100vh;
  width: 100vw;
}

.lob-header {
  display: block;
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: top;
  grid-row-end: top-content;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $border-color;
  background-color: $background-color-white;
}

.lob-body {
  display: block;
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: top-content;
  grid-row-end: bottom;
  position: relative;
}

.lob-header-content {
  line-height: 56px;
}

.lob-header-content,
.lob-body-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.lob-logo {
  color: $grey-1;
  text-decoration: none;
  margin: 0;
  height: 36px;
  line-height: 56px;
  flex: 0 0 auto;
}

.lob-logo-img {
  width: 56px;
  height: 56px;
}

.lob-logo.lob-logo-name {
  border-left: 3px solid $pri-accent  ;
  line-height: 56px;
  height: 52px;
  margin: 2px 0.75rem;
  padding-left: 0.75rem;
}

.lob-floating-box {
  display: block;
  margin: 80px auto;
  max-width: 800px;
  width: 100%;
  padding: 3rem;
  background-color: $background-color-white;
  border-radius: 0.5rem;
  box-shadow: $shadow-main;
}

  .lob-floating-box > h1 {
      font-size: 2.5rem;
      margin-top: 0;
      color: $pri-accent;
  }

.lob-err-message {
  text-align: center;
  color: $sec-accent-pink;
}

.lob-floating-box {
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.lob-label-text {
  display: block;
  font-size: 0.952rem; /* $font-size-small */
  margin: 16px 0 8px 0; /* $space-m 0 $space-s 0 */
  width: 100%;
  color: $pri-accent;
}

input[type=text],
input[type=password] {
  width: 100%;
  box-sizing: border-box;
  border-color: $sec-accent-blue;
}

.lob-sublink {
  display: block;
  text-align: right;
  font-size: 90%;
  margin: 8px 0 0 0; /* $space-s 0 0 0 */
}

.lob-button {
  margin: 32px 0 16px 0; /* $space-l 0 $space-m 0 */
}

a.lob-button,
a.lob-button:hover {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.lob-form-row .lob-button {
  margin: 16px 0 16px 0; /* $space-l 0 $space-m 0 */
}

.lob-form-footer {
  text-align: center;
  font-size: 0.952rem; /* $font-size-small */
}
